<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/">
                Show All <span class="sr-only"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/todo/index/1">
                Show Only Completed <span class="sr-only"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/todo/add">
                Add New Todo Item <span class="sr-only"></span>
            </a>
        </li>
    </ul>
</div>
