@model TodoEditViewModel

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}

<form class="form" asp-controller="Todo" asp-action="Update">
    <div class="form-group">
        <label class="col-form-label" for="title">Title</label>
        <input asp-for="Todo.Title" id="title" type="text" class="form-control" placeholder="Title" />
    </div>
    <div class="form-group">
        <label class="col-form-label" for="description">Description</label>
        <textarea class="form-control" id="description" asp-for="Todo.Description" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
        <label class="col-form-label" for="period">Period</label>
        <select class="form-control custom-control" id="period" asp-for="Todo.Period" asp-items="Model.Periods"></select>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label class="col-form-label" for="createdAt">Created At</label>
            <input type="datetime" readonly asp-for="Todo.CreatedAt" id="createdAt" class="form-control" />
        </div>
        <div class="col-md-6">
            <label class="col-form-label" for="updatedAt">Last Update Time</label>
            <input type="datetime" readonly asp-for="Todo.UpdatedAt" id="updatedAt" class="form-control" />
        </div>
    </div>
    <div class="form-check">
        <input asp-for="Todo.IsCompleted" id="isCompleted" type="checkbox" class="form-check-input" />
        <label class="form-check-label" for="isCompleted">Is Completed</label>
    </div>
    <input type="hidden" asp-for="Todo.Id" />
    <div class="form-group mt-3 float-left">
        <a href="/" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Back</a>
    </div>
    <div class="form-group mt-3 float-right">
        <button type="submit" class="btn btn-info"><i class="fa fa-save"></i> Save Changes</button>
    </div>
</form>
